* {
  font-family: Helvetica, sans-serif
}

h2 {
  font-weight: bold;
}

.sidenav h2 {
  padding: 0px 0px 0px 0px;
  margin-left: 5px;
  color: #fff;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: dodgerblue;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav div.button {
  margin-top: 5px;
  display: block;
  text-decoration: none;
  font-size: medium;
  width: auto;
}

.sidenav div.button:hover {
  background-color: rgba(0,0,0,0.1);
}

 .sidenav div.button a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  color: #fff;
  display: block;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}